In [5]:
import pandas_datareader.data as web
import datetime

In [10]:
start = datetime.datetime(2016,1,1)
end = datetime.datetime(2016,3,1)

In [11]:
f=web.DataReader("F",'yahoo',start,end)

In [9]:
web.DataReader?

In [12]:
f

             Open   High    Low  Close     Volume  Adj Close
Date
2016-01-04  13.87  14.00  13.75  13.97   38618500  13.514209
2016-01-05  13.97  14.00  13.51  13.72   50267500  13.272365
2016-01-06  13.56  13.56  13.05  13.11   61285500  12.682267
2016-01-07  12.90  13.04  12.60  12.70   57846700  12.285644
2016-01-08  13.05  13.10  12.50  12.54   46199400  12.130864
2016-01-11  12.80  12.82  12.55  12.77   41269100  12.353361
2016-01-12  13.03  13.04  12.58  12.85   50983700  12.430750
2016-01-13  12.73  12.84  12.06  12.20  102174700  11.801957
2016-01-14  12.19  12.31  11.82  12.19   62938600  11.792283
2016-01-15  11.81  12.00  11.58  11.97   69030000  11.579462
2016-01-19  12.15  12.16  11.82  11.95   41142600  11.560114
2016-01-20  11.79  12.07  11.47  11.90   59879000  11.511745
2016-01-21  12.01  12.28  11.86  12.01   48841800  11.618157
2016-01-22  12.26  12.36  12.03  12.14   44537800  11.743915
2016-01-25  12.30  12.31  11.93  11.98   96738600  11.589135
2016-01-26  12.14  12.30  12.04  12.26   45969800  11.860000
2016-01-27  12.05  12.10  11.73  11.85   42064200  11.850000
2016-01-28  12.03  12.06  11.20  11.71   75542700  11.710000
2016-01-29  11.83  11.94  11.65  11.94   51492700  11.940000
2016-02-01  11.92  12.14  11.73  12.07   37229000  12.070000
2016-02-02  11.95  12.08  11.45  11.51   55441100  11.510000
2016-02-03  11.67  11.68  11.02  11.46   69361200  11.460000
2016-02-04  11.37  11.69  11.26  11.53   39927600  11.530000
2016-02-05  11.52  11.70  11.42  11.45   33148200  11.450000
2016-02-08  11.39  11.69  11.25  11.59   45190400  11.590000
2016-02-09  11.47  11.61  11.22  11.35   48339300  11.350000
2016-02-10  11.46  11.57  11.33  11.34   31150600  11.340000
2016-02-11  11.17  11.43  11.10  11.17   45574500  11.170000
2016-02-12  11.25  11.58  11.18  11.55   27950100  11.550000
2016-02-16  11.75  11.88  11.53  11.87   40292600  11.870000
2016-02-17  11.99  12.30  11.98  12.27   37569500  12.270000
2016-02-18  12.40  12.44  12.12  12.26   28779000  12.260000
2016-02-19  12.19  12.22  12.01  12.10   26427600  12.100000
2016-02-22  12.10  12.56  12.10  12.56   33440000  12.560000
2016-02-23  12.53  12.65  12.42  12.42   30019000  12.420000
2016-02-24  12.11  12.11  11.60  12.08   60525400  12.080000
2016-02-25  12.11  12.40  12.05  12.39   31951900  12.390000
2016-02-26  12.52  12.59  12.40  12.47   30186300  12.470000
2016-02-29  12.42  12.65  12.39  12.51   32066100  12.510000
2016-03-01  13.01  13.12  12.72  13.09   71248700  13.090000